body {
  position: absolute;
  max-width: 800px;
  margin: 3em;
  font-family: Verdana, sans-serif;
  background-color: #c990f5;
}

h1 {
  text-align: center;
  color: darkblue;
}

/* Styles for HouseTracker and TaskTracker components */

.homes {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.boxes-container {
  display: grid;
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

.location-box {
  border: 3px solid darkslateblue;
  border-radius: 8px;
  padding: 10px;
  width: 145px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.house-icon,
.task-icon,
.plus-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 10px; 
}

.box-title {
  font-weight: bold;
  margin-bottom: 8px;
  text-align: center;
  color: darkblue;
}

.back-button {
  background-color: lightblue; 
  color: black;
  font-weight: bolder;
  padding: 10px;
  border-radius: 4px;
  display: block;
  margin: auto;
  left: 50%;
  text-align: center;
}

.add-button,
.submit-button {
  background-color: lightblue; 
  color: black;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  display: block;
  margin-top: 2px;
  left: 50%;
  text-align: center;
  
}

.btn-container {
  margin-top: 5px;
  text-align: center;
}

input[type=text] {
  border: 2px solid darkslateblue;
  border-radius: 4px;
}

input[type=text]:focus {
  border: 3px solid #555;
}

.TimeKeeper {
  font-size: xx-small;
}

/* Media Queries for Responsive Design */

@media only screen and (max-width: 599px) {
  /* Adjustments for small screens (e.g., smartphones) */
  .boxes-container {
    grid-template-columns: repeat(2, 1fr); /* Three columns for small screens */
  }
}

@media only screen and (min-width: 600px) and (max-width: 1279px) {
  /* Adjustments for medium screens (e.g., tablets) */
  .boxes-container {
    grid-template-columns: repeat(3, 1fr); /* Three columns for medium screens */
  }

  body {
    left: 10%;
    right: 10%;
  }
}

@media only screen and (min-width: 1280px) {
  /* Adjustments for large screens (e.g., laptops and desktops) */
  .boxes-container {
    grid-template-columns: repeat(4, 1fr); /* Four columns for large screens */
  }

  body {
    left: 20%;
  }
}
